.menu-header {
    text-align: center;
}

.menu-container {
    background: linear-gradient(to bottom right, rgb(98, 206, 241), rgb(252, 248, 248)) no-repeat center center fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    height: 90vh;
    margin: auto auto;
    margin-top: 30px;
    border: 2px solid red;
}

.menu-item {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
.thumbnail-img {
    border-radius: 50px;
}