html { 
    background: url(img/wallpaperflare.com_wallpaper\ \(1\).jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

header {
  position: relative;
  z-index: 1;
}

  nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }

  nav button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
  }

  nav button:hover {
    color: rgb(231, 167, 71);
  }

  .order-btn {
    background-image: linear-gradient(to right, rgb(224, 107, 56), rgb(240, 185, 66));
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px 25px;
    width: 200px;
    background-color: transparent;
  
  }

  .order-btn:hover {
    background-image: linear-gradient(to left, rgb(224, 107, 56), rgb(240, 185, 66));
  }

  button:hover {
    cursor: pointer;
  }

  .menu-header {
    text-align: center;
}

.menu-container {
    background: linear-gradient(to bottom right, rgb(98, 206, 241), rgb(252, 248, 248)) no-repeat center center fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    max-height: 80vh;
    overflow-y: auto;
    margin: 100px auto 30px;
    border: 2px solid red;
}

.menu-item {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
.thumbnail-img {
    border-radius: 50px;
}


.hidden {
  display: none;
}

.content {
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(100vh - 35px);

  width: 100vw;
  display: flex;
  transition: opacity 0.2s ease;
  opacity: 1;
}



.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

