html { 
    background: url(img/wallpaperflare.com_wallpaper\ \(1\).jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 50px;
    flex-direction: row;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  nav button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
  }

  nav button:hover {
    color: rgb(231, 167, 71);
  }

  #content {
    text-align: center;
    margin-left: 150px;
  }

  .order-btn {
    background-image: linear-gradient(to right, rgb(224, 107, 56), rgb(240, 185, 66));
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px 25px;
    width: 200px;
    background-color: transparent;
  
  }

  .order-btn:hover {
    background-image: linear-gradient(to left, rgb(224, 107, 56), rgb(240, 185, 66));
  }

  button:hover {
    cursor: pointer;
  }

  .menu-header {
    text-align: center;
}

.menu-container {
    background: linear-gradient(to bottom right, rgb(98, 206, 241), rgb(252, 248, 248)) no-repeat center center fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    height: 90vh;
    margin: auto auto;
    margin-top: 30px;
    border: 2px solid red;
}

.menu-item {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
.thumbnail-img {
    border-radius: 50px;
}

#content {
  margin: auto auto;
}

.hidden {
  display: none;
}